* {
    background-color: slategray;

}

.data-output {
    position: relative;
    margin-top: 10vh;
    margin-left: 30vw;
    font-size: larger;
    font-style: bold;
    font-family: 'Abel';
    font-size: 30pt;
}

/* make the separate lines italic on hover */
.data-output #total-months:hover {
    font-style: italic;
    color: purple;
}

.data-output #total-value:hover {
    font-style: italic;
    color: purple;
}

.data-output #average-change:hover {
    font-style: italic;
    color: purple;
}

.data-output #greatest-increase:hover {
    font-style: italic;
    color: purple;
}

.data-output #greatest-decrease:hover {
    font-style: italic;
    color: purple;
}